/* テーマカラー定義 */

/* text-themeクラス定義 */
.text-theme {
  color: var(--color-text-primary);
}

/* テーマデフォルト文字色クラス定義 */
.text-theme-default {
  color: var(--color-text-primary);
}

/* 背景テーマクラス定義 */
.bg-theme {
  background-color: var(--color-base-light);
}

/* アイコンマスククラス定義 */
.icon-mask-active {
  background-color: var(--color-text-primary);
}

.icon-mask-inactive {
  background-color: var(--color-primary);
}

.icon-mask-default {
  background-color: var(--color-text-default);
}

/* ベースのbody要素の色設定 */
body {
  color: var(--color-text-default);
}

/* 主要な要素のデフォルト色設定 */
html {
  color: var(--color-text-default);
}

/* 見出しや段落などの基本要素 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
  color: inherit;
}

/* Default テーマ（デフォルト） */
:root {
  --color-primary: #f5800b;
  --color-primary-hover: #c26904;
  --color-primary-press: #9e5501;
  --color-primary-disabled: #f5780b4d;
  --color-secondary: #ee6666;
  --color-secondary-hover: #dc2626;
  --color-secondary-press: #b91c1c;
  --color-secondary-disabled: #ef44444d;
  --color-text-primary: #f3f4f6;
  --color-text-base: #1e293b;
  --color-text-default: #e5e7eb;
  --color-base-light: #0f172a;
  --color-base-dark: #000000;
}
